$main-bgcolor: #1a1a1a;
$main-color: #FFFFFF;
$main-font: 'Montserrat', sans-serif;
$hover-color: #bababa;

body {
    background-color: $main-bgcolor;   
    color: $main-color;
    font-family: $main-font;
    font-size:16px;
    line-height: 21px;
    overflow-y: hidden;
    overflow-x: hidden;   
}

.navbar.stickynav {
    position:fixed;   
    top:0;
    animation: pulse 0.4s ;
}

.navbar {
    position:absolute;
    border:none;
    border-bottom: 1px solid #FFFFFF;
    border-radius: 0px;
    left:0;
    right:0;
    text-align: center;
    z-index: 1200;
    background-color: $main-bgcolor; 
    color: $main-color;
    padding-top:5px;
    height:56px;
    
.navbar-toggle {
    background-color: transparent;
    border:none;
    
    .icon-bar {
    background-color: #FFFFFF;
    }
}
        
    
.navbar-toggle:focus, .navbar-toggle:hover {
    background-color: transparent;
    border:none;
}
    
    .logo {
        position: relative;
        max-width: 170px;
        width:100%;
        padding-top: 15px;
        padding-bottom: 5px;
        float:left;
        display:inline-block;
        vertical-align: top;
    }
    .navbar-nav {
      display: inline-block;
      vertical-align: top;
        float:none;
}
    .navbar-collapse {
      text-align: left;
    }
    
    #navmain {
        a {
           color: $main-color; 
            font-size: 1.3em;
        }
        
        a:hover {
            color: $hover-color;
        }
    }

}

.topSection { 
    position: relative;
    width: 100%;
    min-height: 90vh;
    text-align: center;
    display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
	align-items: center;
    justify-content: center;
   
    .buildingsilo {
        position:absolute;
        bottom:0;
        width:100%;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 20%;
        top: 0px;
    }
    .topCtaHolder {
        position:relative;
        max-width: 510px;
        width: 80%;
        padding: 10px;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0px;
        top: 0px;
        box-sizing: border-box;
        flex-direction: column;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        
    }
    
    
    
    .topMainImg {
        position: relative;
        max-width: 190px;
        width: 100%;
        animation-duration: 0.8s;
        animation-delay: 0.8s;
        -moz-animation-duration: 0.8s;
        -wekit-animation-duration: 0.8s;
        -moz-animation-delay: 0.8s;
        -webkit-animation-delay: 0.8s;
        z-index:1000;
    }
    
    
    .scrollDwnFrmTop {
        position:relative;   
        max-width: 80px;
        width:100%;
        margin: auto;
        right: 0;
        left: 0;
        margin-top:13%;
        animation-duration: 1.3s;
        animation-delay: 1.3s;
        -moz-animation-duration: 1.3s;
        -wekit-animation-duration: 1.3s;
        -moz-animation-delay: 1.3s;
        -webkit-animation-delay: 1.3s;
        
        img {
            position:relative;
            width:100%;
            max-width: 100px;
        }
    }
    
    .mattbouncearrow {
        cursor: pointer;
        -webkit-animation: homebouncearrow 2s infinite;
        animation: homebouncearrow 2s infinite;   
    }
    @-webkit-keyframes mattbounceearrow {
        0%, 20%, 50%, 80%, 100% {
            -webkit-transform: translateY(0); }
        40% {
            -webkit-transform: translateY(15px); }
        60% {
            -webkit-transform: translateY(8px); } }
    @-moz-keyframes homebouncearrow {
        0%, 20%, 50%, 80%, 100% {
            -moz-transform: translateY(0); }
        40% {
            -moz-transform: translateY(15px); }
        60% {
            -moz-transform: translateY(8px); } }
    @keyframes homebouncearrow {
        0%, 20%, 50%, 80%, 100% {
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0); }
        40% {
            -webkit-transform: translateY(15px);
            -moz-transform: translateY(15px);
            -ms-transform: translateY(15px);
            -o-transform: translateY(15px);
            transform: translateY(15px); }
        60% {
            -webkit-transform: translateY(8px);
            -moz-transform: translateY(8px);
            -ms-transform: translateY(8px);
            -o-transform: translateY(8px);
            transform: translateY(8px); } }

    /*arrow homebouncearrow end*/
    
}

#aboutMe.nunya {
    display:none;
}

#aboutMe { 
    position: relative;
    width: 100%;
    min-height: 90vh;
    text-align: center;
    display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
	align-items: center;
    justify-content: center;
    
    
    .taxi {
        position:absolute;
        top:0;
        right:0;
        left:0;
        bottom:0;
        margin:auto;
        max-width: 1200px;
        width:90%;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    .aboutContent {
        position: relative;
        margin:auto;
        top:0;
        bottom:0;
        right:0;
        left:0;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        flex-direction: column;
        display: none;
        
        h4 {
            font-size:2.8em;
             line-height: 1.8em;
        }

        p {
            font-size:1.8em;
            line-height: 1.2em;
        }
    }
}


h1,h2 {
        position:relative; 
        font-size: 4em;
        line-height: 1.2em;
        font-weight: 700;
        margin:0;
        padding:0;
        animation-duration: 0.5s;
        animation-delay: 0.5s;
        -moz-animation-duration: 0.5s;
        -wekit-animation-duration: 0.5s;
         -moz-animation-delay: 0.5s;
        -webkit-animation-delay: 0.5s;
    }



@media(max-width:1024px) {
    body {
        font-size:12px;
         line-height: 16px;
    }   
}

@media(max-width:767px) {
    body {
        font-size:11px;
         line-height: 14px;
    }   
    .navbar {

        .logo {
            max-width:200px;
            float:left;
            padding-top:15px;
            padding-left:10px;
            padding-bottom:0px;
        }
    }
    .topSection {
        .topCtaHolder {
            .topMainImg {
                max-width: 100px;   
            }
        }
        .scrollDwnFrmTop {

            img {
                max-width: 50px;
            }
        }
    }
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $main-bgcolor; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #1171dc; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #137aad; 
}

@media(max-width:500px) {
    body {
        font-size:10px;
         line-height: 14px;
    } 
    
}